@model Erp.Models.Zone

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Zone</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZoneCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZoneCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZoneName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZoneName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkTelephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkTelephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AboutMe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AboutMe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaOfExpertise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaOfExpertise)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
