@model Erp.Models.EmployeeAllocation

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="card card-info p-2">
        <div class="card-header">
            Driver Detail
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EmployeeId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Employee.FirstName)      @Html.DisplayFor(model => model.Employee.LastName)
                </dd>
                <dt class="col-sm-2">
                    Vehicle Model
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayNameFor(model => model.vechicles.Model)
                </dd>
                <dt class="col-sm-2">
                    Vehicle Plate Number
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.vechicles.PlateNumber)
                </dd>
                
                
            </dl>
        </div>
        <div class="card-footer">
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
