@model Erp.Models.RegionBudget

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RegionBudget</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalRegionOverheadCosts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalRegionOverheadCosts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalRegionTimeCosts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalRegionTimeCosts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalRegionExternalCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalRegionExternalCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalRegionZoneTotalCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalRegionZoneTotalCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegionPlan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegionPlan.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
