@model Erp.Models.Attendance

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-wrapper">

    <div class="container-fluid mt-4">
        <div class="container">
            <h1>Delete</h1>

<<<<<<< HEAD
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Attendance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmployeeCode)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeOut)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AttendanceId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
=======
            <h3>Are you sure you want to delete this?</h3>
            <div>
                <h4>Attendance</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Employee)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Employee.City)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Date)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Date)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TimeIn)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TimeIn)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TimeOut)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TimeOut)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="AttendanceId" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index">Back to List</a>
                </form>
            </div>
            </div>
>>>>>>> fa861d8587f0b0543b6000d4312618a94a375517
</div>
</div>