@model Erp.Models.Attendance

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-wrapper">

    <div class="container-fluid mt-4">
        <div class="container">
            <h1>Details</h1>

          
            <div>
                <h4>Attendance</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Employee)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Employee.EmployeeCode)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Date)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Date)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TimeIn)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TimeIn)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TimeOut)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TimeOut)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.AttendanceId">Edit</a> |
                <a asp-action="Index">Back to List</a>

                <div>
                    <h4>Attendance</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Employee)
                        </dt>
                        <dd class="col-sm-10">

                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Date)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Date)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.TimeIn)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.TimeIn)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.TimeOut)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.TimeOut)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.AttendanceId">Edit</a> |
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
</div>