@model Employee

@{
    ViewData["Title"] = "Delete";
}


<div id="exampleModalCenter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to delete?</p>
                <dl class="row">
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.EmployeeCode)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.EmployeeCode)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Sex)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Sex)
                    </dd>
                                          
                    </dl>   
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                               
                </form>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Launch demo modal</button>

