@model IEnumerable<Erp.Models.Resignation>

@{
    ViewData["Title"] = "Index";
}


<div class="container px-5">
    <div class="card mt-5">
        <div class="card-header">
            <div class="card-title mb-5">
                <h5 class="text-muted text-">Resignation Request</h5>
            </div>
            <div class="card-tools">
                <div class="row">
                    @*   <div class="col-7">
                            <a asp-action="Create" class="btn btn-glow-dark btn-dark ml-4"><i class="feather icon-user-plus"></i>Add</a>
                        </div>*@
                    <div class="col-4">
                        <form asp-controller="Experiences" asp-action="Index">
                        </form>

                    </div>

                </div>
            </div>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive px-5">
                        <table class="table table-border table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Employee.FirstName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Date)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Reason)
                                    </th>
                                    
                                    <th>
                                        @Html.DisplayNameFor(model => model.status)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Employee.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Reason)
                                    </td>

                                    <td>
                                        @if (item.status == true)
                                        {
                                            <span class="badge badge-success">Approved</span>
                                        }
                                        else if (item.status == false)
                                        {
                                            <span class="badge badge-danger">Rejected</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-warning">Pending </span>
                                        }
                                    </td>


                                    <td>
                                        @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                                        <a onclick="deleteConf(@item.Id)"><i class="fa fa-trash-alt text-red fa-fw"></i></a>
                                        <a asp-action="Details" asp-route-id="@item.Id"> Approve<i class="fa fa-angle-double-right fa-fw"></i></a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        @* <div class="text-right p-4">
                <form asp-controller="Employees" asp-action="ExportToExcel" method="post">
                    <button type="submit" class="btn btn-glow-dark btn-dark"><i class="feather icon-download"></i>Download</button>
                </form>

            </div>*@
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}

