@model Erp.Models.vechiclesType

@{
    ViewData["Title"] = "Details";
}


<div class="container">
    <div class="card card-info p-2">
        <div class="card-header">
            Vehicle Type Detail
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Type)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Type)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.description)
                </dd>
            </dl>
        </div>
        <div class="card-footer">
            <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
