@model IEnumerable<Erp.Models.Dashboard>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TotalEmployees)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalDepartments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalRequests)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TotalEmployees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDepartments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalRequests)
            </td>
           \
        </tr>
}
    </tbody>
</table>

