@model IEnumerable<Erp.Models.Budget>

@{
    ViewData["Title"] = "Index";
}

<div class="container px-5">
    <div class="card p-3">
        <div class="card-header border-bottom-0">
            <div class="card-title mb-5">
                <h5 class="text-muted text-">
                    Budget Request Form
                </h5>
            </div>
            <div class="card-tools">
                <div class="col-7">
                    <a asp-action="Create" class="btn btn-glow-dark btn-dark ml-4"><i class="feather icon-plus"></i>Add</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>

                        <th>
                            Name
                        </th>

                        <th>
                            Plan Title
                        </th>
                        <th>
                            Overhead Costs
                        </th>
                        <th>
                            Time Costs
                        </th>
                        <th>
                            External Cost
                        </th>

                        <th>
                            Total Cost
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee.FirstName)   @Html.DisplayFor(modelItem => item.Employee.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DirectorPlan.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OverheadCosts)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.TimeCosts)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExternalCost)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalCost)
                        </td>

                        <td>
                            @if (item.Status == true)
                            {
                                <span class="badge badge-success">Approved</span>
                            }
                            else if (item.Status == false)
                            {
                                <span class="badge badge-danger">Rejected</span>
                            }
                            else
                            {
                                <span class="badge badge-warning">Pending </span>
                            }
                        </td>
                        <td>
                            @if (item.Status != true)
                            {

                                <a asp-action="Edit" asp-route-id="@item.Id">
                                    <i class="fa fa-edit text-green fa-fw"></i>
                                </a>

                                <a onclick="deleteConf(@item.Id)">
                                    <i class="fa fa-trash-alt text-red fa-fw"></i>
                                </a>
                            }

                            <a asp-action="Details" asp-route-id="@item.Id">
                                <i class="fa fa-angle-double-right fa-fw"></i>
                            </a>


                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<div id="exampleModalCenter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalCenterTitle">Employee</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <h5> Are you sure you want to delete?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-glow-dark btn-secondary" data-dismiss="modal">Close</button>
                <form asp-action="Delete">
                    <input type="hidden" data-val="true" data-val-required="The DepartmentId field is required." id="EmployeeIdDelete" name="Id" value="">

                    <button type="submit" class="btn btn-glow-dark btn-danger">Delete</button>

                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function deleteConf(id) {
            $('#EmployeeIdDelete').val(id);
            $("#exampleModalCenter").modal()
        }
    </script>
}