@model Erp.Models.AssetTypeRisk

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AssetTypeRisk</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Asset_types)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Asset_types.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FailureProbability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FailureProbability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Loss)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Loss)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAssetTypeRisk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAssetTypeRisk)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
