@model Erp.Models.FieldWorkDriverAllocation

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FieldWorkDriverAllocation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Driver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Driver.City)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FieldWork)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FieldWork.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
