@model Erp.Models.FieldWorkDriverAllocation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FieldWorkDriverAllocation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Driver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Driver.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FieldWork)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FieldWork.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
