@model Erp.Models.Assign

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Assign</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpolyeeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpolyeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromEmp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromEmp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tasks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tasks.TaskName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
