@model Erp.Models.AdvancedScheme

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AdvancedScheme</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PercentageAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PercentageAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeductionEachMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeductionEachMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurationRecover)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurationRecover)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalarId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalarId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.City)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
