@model Erp.Models.SendFile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SendFile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.path)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.path)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.senderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.senderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReciverId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReciverId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.filesatuts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.filesatuts)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
