@model Erp.Models.Depersation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Depersation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Asset.factory_number)
       )
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Asset.factory_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Useful_Life_Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Useful_Life_Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Annual_Depersation_Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Annual_Depersation_Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssetId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssetId)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
